window {
margin: 0px;
border: 1px solid #1d2021;
background-color: #44475a;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #1d2021;
}

#inner-box {
margin: 5px;
border: none;
background-color: #1d2021;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1d2021;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry:selected {
background-color: #5f94d9;
}
